/** App.css **/
/** Shared styles throughout entire application **/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  font-family: 'Lato', sans-serif;
}

ion-tab-button ion-icon {
  font-size: 1.75rem;
}

.ion-page-ios-notch {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.no-ripple {
  --ripple-color: transparent;
}

.tab-bar-visible #main-tab-bar {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.tab-bar-hidden #main-tab-bar {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

button.alert-button.alert-cancel-button {
  color: var(--ion-color-danger);
}

ion-segment-buttom::before {
  opacity: 0;
}

#add-custom-tag {
  min-height: auto;
}


.ion-photo-viewer img {
  border-radius: 5px !important;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%; /* Full viewport height */
  text-align: center; /* Center text horizontally within the element */
}