/** App.css **/
/** Shared styles throughout entire application **/

.ion-page-ios-notch {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.no-ripple {
  --ripple-color: transparent;
}

.tab-bar-visible #main-tab-bar {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.tab-bar-hidden #main-tab-bar {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

button.alert-button.alert-cancel-button {
  color: var(--ion-color-danger);
}