.locationcard {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
}

.headercard {
  margin-top: 25vh;
}

.commentbox {
  display: flex;
  align-items: flex-start;
}
.commentcontents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.commentusername {
  font-size: medium;
  margin-top: 5px;
}

.commentlist {
  overflow: scroll;
  max-height: 35vh;
}

.commentavatar {
  width: 50px; /* Adjust the width to your desired size */
  height: 50px; /* Adjust the height to your desired size */
  flex-shrink: 0; /* Prevents the avatar from shrinking */
  margin-right: 10px; /* Adds spacing between the avatar and content */
  margin-left: 5px;
  margin-top: 5px;
}

.commentdate {
  font-style: italic;
}

.FavoritesButton {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}

.VisitedButton {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 80px;
}

.locationlabel {
  font-size: xx-large;
  text-align: left;
  display: flex;
  gap: 10px;
  /* margin-bottom: 20px; */
  padding: 5px;
}
h1 {
  margin: 0px;
}
.headerDiv {
  width: 100%;
  height: 30vh;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.fill-frame-image {
  height: 30;
  object-fit: cover;
  position: inherit;
  z-index: 0;
}

.headerImage {
  height: 100%;
  z-index: 0;
}
