.locationmap {
  margin-left: auto;
  margin-right: 0;
  overflow: hidden;
  border-radius: 10px;
}

.locationcard {
  display: flex;
}

.headercard {
  margin-top: 25vh;
}

.commentbox {
  display: flex;
}

.FavoritesButton {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}

.VisitedButton {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 80px;
}
