.MainCarousel {
  height: 40vh;
  width: auto;
  display: flex;
}

.MainCarouselSlide {
  width: 100%;
  font-size: large;
  font-weight: bold;
}

.SecondaryCarousel {
  height: 20vh;
  width: auto;
  display: flex;
}

.SecondaryCarouselSlide {
  width: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header {
  padding: 4px;
  padding-left: 10px;
  font-size: larger;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
}