.Bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
}
.bioright {
  margin-left: auto;
  margin-right: auto;
}
.avatar {
  margin: auto;
}
.segmentbutton {
  display: flex;
  align-items: center;
}
