.activity-image-swiper-container {
  width: 100%;
  height: 30vh;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.activity-header-card {
  margin-top: 25vh;
}

.activity-card {
  margin-left: 10px;
  margin-right: 10px;
}

.locationcard {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
}

.commentbox {
  display: flex;
  align-items: flex-start;
}

.commentcontents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.commentusername {
  font-size: medium;
  margin-top: 5px;
}

.commentlist {
  overflow: scroll;
  max-height: 35vh;
}

.commentavatar {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.FavoritesButton {
  top: 0;
  right: 0;
}

.VisitedButton {
  top: 0;
  right: 80px;
}

h1 {
  margin: 0px;
}

.fill-frame-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.comment-img-submit {
  aspect-ratio: 1;
  border-color: transparent;
  width: 50px;
}

.activity-comment-textarea {
  height: 125px;
  width: 100vw;
  border-radius: 10px;
  background-color: var(--ion-background-color);
  transition: bottom 0.35s, opacity 500ms ease-in-out;
}