/* ion-content .MainCarouselEntryHeaderImage{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 5vh;
    color: red;
} */

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1lh;
    white-space: nowrap;
}